{
  "low_player_count_number": 7,
  "high_player_count_number": 15,
  "bots_player_count_maps": [
    "RA_AS_Seamist",
    "RA_Bonsai",
    "RA_CamosCanyon",
    "RA_CanyonRiver",
    "RA_CoastalInfluence",
    "RA_Complex",
    "RA_GuardDuty",
    "RA_KeepOffTheGrass",
    "RA_Metro",
    "RA_NorthByNorthwest",
    "RA_PacificThreat",
    "RA_RidgeWar",
    "RA_RiverRaid",
    "RA_RockTrap",
    "RA_StormyValley",
    "RA_SwampOfIllusions",
    "RA_ToTheCore",
    "RA_Under",
    "RA_Volcano",
    "RA_Zama",
    "RA_Wasteland",
    "RA_Christmas2020",
    "RA_ChristmasFissure"
  ],
  "low_player_count_maps": [
    "RA_AS_Seamist",
	  "RA_Bonsai",
    "RA_CamosCanyon",
	  "RA_CanyonRiver",
	  "RA_Christmas2020",
	  "RA_CoastalInfluence",
    "RA_Complex",
    "RA_GuardDuty",
	  "RA_KeepOffTheGrass",
    "RA_Metro",
	  "RA_NorthByNorthwest",
    "RA_PacificThreat",
	  "RA_RidgeWar",
    "RA_RiverRaid",
    "RA_RockTrap",
	  "RA_StormyValley",
	  "RA_SwampOfIllusions",
	  "RA_ToTheCore",
	  "RA_Under",
	  "RA_Volcano",
	  "RA_Zama",
    "RA_Wasteland",
    "RA_Christmas2020",
    "RA_ChristmasFissure"
  ],
  "high_player_count_maps": [
    "RA_Bonsai",
    "RA_CamosCanyon",
	  "RA_CanyonRiver",
	  "RA_Christmas2020",
    "RA_CoastalInfluence",
	  "RA_Complex",
    "RA_GuardDuty",
    "RA_HostileWaters",
    "RA_KeepOffTheGrass",
    "RA_NorthByNorthwest",
    "RA_Pipeline",
    "RA_RidgeWar",
    "RA_Siege",
    "RA_StormyValley",
    "RA_ToTheCore",
	  "RA_Under",
    "RA_Volcano",
    "RA_Zama"
  ]
}