{
  "retired_nicknames": [
    "Gr8BigGuy",
    "Wyld1USA", "Wyld1",
    "Zunnie",
    "Dethice",
    "ZoneKill9",
    "ZeeHypnotist", "Rabbit",
    "Spoony",
    "Bears",
    "Spoonplex",
    "AmunRa",
    "DJBloodMoss",
    "Phyre"
  ]
}
