{
  "mobius": {
    "fds_path":"C:/GameServers/a-path-beyond-fds",
    "database_path":"./conf/database.db",
    "renrem": {
      "address":"127.0.0.1",
      "port":7846,
      "password":"password"
    },
    "ssgm": {
      "address":"127.0.0.1",
      "port":7847
    },
    "gamespy":{
      "master_servers":[
        "renmaster.cncnet.org:27900",
        "176.31.21.190:27900"
      ],
      "game_type":"AoW",
      "custom_info":[
        {
          "website":"",
          "irc":"",
          "w3dhubgame":"apb",
          "w3dhubchannel":"release"
        }
      ]
    },
    "staff":{
      "admin": [
        {
          "name":"player",
          "hostnames":[
            "192.168.1.117",
          ]
        }
      ]
    }
  }
}
