{
  "mobius": {
    "fds_path":"C:/GameServers/a-path-beyond-fds",
    "server_settings_path": "data/APB_Public.ini",
    "database_path":"./conf/database.db",
    "limit_commands_to_staff_level": null,
    "record_gamelog": false,
    "gamespy":{
      "master_servers":[
        "renmaster.cncnet.org:27900",
        "176.31.21.190:27900"
      ],
      "game_type":"AoW",
      "custom_info":[
        {
          "website":"",
          "irc":"",
          "w3dhubgame":"apb",
          "w3dhubchannel":"release"
        }
      ]
    },
    "staff":{
      "admin": [
        {
          "name":"player",
          "hostnames":[
            "192.168.1.117"
          ]
        }
      ]
    },
    "messages": {
      "staff": true,
      "crate": true,
      "soldier_killed": true,
      "soldier_purchase": true,
      "building_killed": true,
      "vehicle_killed": true,
      "vehicle_purchase": true,
      "vehicle_stolen": true
    },
    "discord_bot": {
      "server_short_name": "APB COOP",
      "token":"",
      "server_admins": [], // Array of Discord user IDs to page if the fds is detected offline.
      "restrict_to_servers": [],
      "restrict_to_channels": []
    },
    "tournament": {
      "team_0_ghost": "Allied_Ghost",
      "team_1_ghost": "Soviet_Ghost",
      "infected_preset": "Ant_Scout"
    },
    "enabled_plugins": [],
    "disabled_plugins": []
  }
}
